<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/css/ugly.css">

        {% endblock %}


    </head>
    <body>
        <nav>
            <h3>Admin / CRUD</h3>
            <ul>
                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                <li>Clients
                    <ul>
                        <li><a href="{{ path('app_client_index') }}">Liste clients</a></li>
                        <li><a href="{{ path('app_client_new') }}">Nouveau client</a></li>
                    </ul>
                </li>
                <li>Devis
                    <ul>
                        <li><a href="{{ path('app_devis_index') }}">Liste devis</a></li>
                        <li><a href="{{ path('app_devis_new') }}">Nouveau devis</a></li>
                    </ul>
                </li>
                <li>Haies
                    <ul>
                        <li><a href="{{ path('app_creer_haie') }}">Créer une haie</a></li>
                        <li><a href="{{ path('app_voir_haie') }}">Gérer les haies</a></li>
                    </ul>
                </li>
                <li>Catégories
                    <ul>
                        <li><a href="{{ path('app_categorie_index') }}">Liste catégories</a></li>
                        <li><a href="{{ path('app_categorie_new') }}">Nouvelle catégorie</a></li>
                    </ul>
                </li>
                <li>Tailler
                    <ul>
                        <li><a href="{{ path('app_tailler_index') }}">Liste tailles</a></li>
                        <li><a href="{{ path('app_tailler_new') }}">Nouvelle taille</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <main>
            <div class="card">
                {% block body %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>
