{% extends 'base.html.twig' %}

{% block title %}Tailler{% endblock %}

{% block body %}
    <h1>Tailler</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tailler.id }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ tailler.hauteur }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ tailler.longueur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tailler_index') }}">back to list</a>

    <a href="{{ path('app_tailler_edit', {'id': tailler.id}) }}">edit</a>

    {{ include('tailler/_delete_form.html.twig') }}
{% endblock %}
